body{
  background-color: black;
}
#Movie-Wrapper{
 
  width: 80%;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  
}
.Movie-Cards{
  width:200px;
  margin: 10px;
  border:1px solid black;
  color: white;
  
 
}
.Movie-thumbnail{
  width: 100%;
  height: 200px;
}
input{
  width: 60%;
  height: 50px;
  text-align: center;
}